<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %> | CSC317Project - Group L
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header>
      <div class="logo">
        <a href="/"><img name="logo" src="/images/stockphoto-1135090585-1024x1024.jpg" alt="logo"></a>
      </div>

      <nav class="navbar">
        <ul class="nav-links">

          <li><a href="/about" class="<%= path === '/about' ? 'active' : '' %>">About</a></li>
              <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
              <li class="button"><a href="/auth/login" class="{{#if (isActiveRoute path '/auth/login')}}active{{/if}}"
                  id="button-login">Login</a></li>
              <li class="button"><a href="/auth/register"
                  class="{{#if (isActiveRoute path '/auth/register')}}active{{/if}}" id="button-register">Register</a>
              </li>
        </ul>
      </nav>
  </header>

  <main>