# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# macOS
.DS_Store

# node.js
node_modules/
package-lock.json

# Logs
logs/

# Temporary files
tmp/
*.tmp

# IDE specific files
.idea/
.vscode/


# Env files
# Ignore all .env files everywhere
**/.env


CLAUDE.md