<%- include('../partials/header-auth') %>

<!--Main Content Container  -->
<div class="container-auth">
  <div class="pin-grid">
    <% pins.forEach((pin) => { %>
      <a href="" class="pin-card">
        <img
          src="/pin/get-image/<%= pin._id %>"
          alt="<%= pin.title || 'Pin Image' %>"
          title="<%= pin.title || 'Pin Image' %>"
        >
      </a>
    <% }); %> 
  </div>
</div>

</main>
</body>
</html>

