<%- include('../partials/header-auth') %>

<!--PLACEHOLDER-->

<div class="pin-grid">
</div>

  <!-- 3 TEMP LINES TO EXPERIMENT W/ LAYOUT -->

</main>
</body>

</html>
<!--<%- include('../partials/footer') %>